




    @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');
  *{
    margin:0;
    padding:0;
  }

  html{

     min-width: 400px;
  }

  html,
  body{
     min-width: 400px;
     height: 100%;
     width: screen.width;
     padding: 0px;
     scroll-behavior: smooth;
     background: #000000;
     color: #999;
     font-family: 'Open Sans', sans-serif;
     font-weight: 300;
     box-sizing: border-box;
  }
  h1{
    line-height: 1.2;
    color: #ccc;
  }
  h2{
    line-height: 1.25;
    font-weight: 300;
  }
  h3{
    line-height: 1.25;
    font-weight: 300;
  }
  svg{
    padding: 0px;
  }
  img {
    padding: 20px;
    width: 80%;
  }
  text{
    line-height: 1.25;
    font-weight: 600;
    font-size: 16px;
  }
  strong{
    font-weight: 600;
    color: #ccc;
  }
  i{
    font-weight: 300;
    color: #888;
  }
  em{
   font-weight: 300;
  }
  p{
    font-weight: 600;
    color: #777;
  }
  #graphic {
    max-width:  2440px;
    width: 96%;
    position:   relative; 
    height:  100%;
    position:  relative;
    right: 2%;
    left: 2%;
  }
  #viz {
    max-width:  1440px;
    width: 100%;
    padding: 0px;
    height:  100%;
  }
  .container {
    height: 100%;
    max-width: 30%;
    width: 40%;
    margin: 0;
    padding: 0;
    position: absolute;
    height: 100%;
    line-height: 1.5;
    right: 7.5%;
  }
  .container div {
    display: block;
    padding: 50% 0px 70% 0px;
  }
  .fixed {
    position: fixed;
    max-width: 2440px;
    width: 60%;
    height: 90%;
    height: 100%;
  }
  </style>